<%= f.hidden_field :id %>
<%= f.input :title %>
<%= f.input :body %>
<%= f.input :publishing_date %>

<div id="comments">
  <%= f.simple_fields_for :comments do |comment| %>
    <%= comment.input :body %>
  <% end %>

  <%= link_to_add_association 'add comment', f, :comments %>
</div>