<h1>hello world!</h1>

<hr/>

<% if @service_down %>
  <%= render "shared/service_down" %>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.title %> - <%= link_to "edit", edit_post_path(post) %> | <%= link_to "delete", post_path(post), method: :delete %></li>
    <% end %>
  </ul>

  <%= paginate @posts %>
<% end %>

<p>&nbsp;</p>

<%= link_to "New Post", new_post_path %>
