<h1>Showing Post: <%= @post.id %></h1>

<p>Title: <b><%= @post.title %></b></p>
<p>Body: <b><%= @post.body %></b></p>
<p>Publishing Date: <b><%= @post.publishing_date %></b></p>

<br/>
<%= link_to "Back", posts_path %>